In [1]:
import pandas as pd

In [2]:
val_features = pd.read_csv('../../data/split_data/val_features.csv', index_col='AppointmentID')
val_labels = pd.read_csv('../../data/split_data/val_labels.csv', index_col='AppointmentID')

In [3]:
val_features.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,AppDay_weekend,DayDiff,MissedApp
AppointmentID,,,,,,,,,,,
108480,0,21,0,0,0,0,0,0,0,0,0
109126,0,35,0,0,0,0,0,1,0,14,0
8311,1,20,0,0,0,0,0,1,0,8,0
7578,1,17,0,0,0,0,0,1,0,17,0
5019,0,79,0,1,0,0,0,0,0,2,0

In [4]:
val_labels.head()

               No-show
AppointmentID
108480               0
109126               0
8311                 0
7578                 0
5019                 0

#### Evaluate different models on the validation data set

* Random forest, logistic regression, SVM

In [ ]:
lr =